<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <p>File uploader</p>
        <p><a href="/logout">Log out</a></p>
    </header>
    <main>
        <%- include ('partials/errors') %>
        <button onclick="document.getElementById('new-folder').showModal()">New Folder</button>
        <button onclick="document.getElementById('upload-file').showModal()">Upload File</button>
        <dialog id="upload-file">
            <p>Upload a File</p>
           <form action="/dashboard/upload-file" method="post" enctype="multipart/form-data">
             <label for="upload-file">Choose a file</label>
            <input type="file" name="file" required>
            <button type="submit">Upload</button>
            <button  onclick="document.getElementById('upload-file').close()">Cancel</button>
           </form>
        </dialog>

         <dialog id="new-folder">
            <p>Create a Folder</p>
           <form action="/dashboard/folder" method="post">
             <label for="new-folder">Name: </label>
            <input type="text" name="foldername" required>
            <button type="submit">Create</button>
            <button onclick="document.getElementById('new-folder').close()">Cancel</button>
           </form>
        </dialog>
        
       
             <% folders.forEach(folder=>{%>
                <div>
                    <p><%= folder.foldername %></p>
                    <button onclick="document.getElementById('update-folder-<%= folder.id %>').showModal()">Update</button>
                    <button onclick="window.location.href='/dashboard/delete-folder/<%= folder.id %>'">Delete</button>
                </div>

            <dialog id="update-folder-<%= folder.id %>">
            <p>Update Folder</p>
            <form action="/dashboard/update-folder/<%= folder.id %>" method="post">
            <label for="update-folder">Name: </label>
            <input type="text" name="foldername" value="<%= folder.foldername %>" required>
            <button type="submit">Update</button>
            <button onclick="document.getElementById('update-folder-<%= folder.id %>').close()">Cancel</button>
           </form>
        </dialog>
               
       <%  }) %>
       
      
       
    </main>
</body>
</html>