<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Files will be displayed here</p>
   
<% files.forEach(file => { %>
  <div>
    <p>Name: <%= file.filename %></p>
    <p>Size: <%= file.size %></p>
    <p>Uploaded At: <%= file.uploadedAt %></p>
    <button onclick="window.location.href='/dashboard/folder/download-file/<%= file.id %>'">Download</button>
    <button onclick="window.location.href='/dashboard/folder/delete-file/<%= file.id %>'">Delete</button>

   
  </div>
<% }) %>


</body>
</html>